<html>
    <head>
        <title>Maurice's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My first blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>first year participating GCI</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <strong>would like to participate in more competitions </strong>
        </div>
    </body>
</html>